.btn {
  background: $red;
  border: none;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  height: 5rem;
  line-height: 5rem;
  margin: 2rem auto;
  max-width: 28rem;
  min-width: 28rem;
  text-transform: uppercase;
  text-align: center;
  transition: $default-transition !important;
  &:hover {
    background: darken($red, 10%);
    box-shadow: 0 0 20px -5px rgba(0,0,0,.5);
    //transform: scale(1.05) !important;
  }
  &:focus {
    color: #fff;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.play-button {
  background: none;
  border: none;
  cursor: pointer;
  height: 6rem;
  width: 6rem;
  svg {
    fill: $red;
    height: 100%;
    width: 100%;
  }
}//.play-button