.site-footer{
  background: $black;
  color: #ccc;
  font-family: $custom-font-family;
  font-size: 1.2rem;
  line-height: 1.8;
  padding: 1.5rem 0;
  text-align: center;

  .wrapper {
    @media screen and (min-width: 769px) {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p + p {
        //margin-left: 5px;
      }
    }
  }
}